*.pdf
*.pt
*/data/
*/*/data/
Module 1/stopwords/
Module 1/.ipynb_checkpoints/
Module 1/hw/stopwords/
Module 1/hw/.ipynb_checkpoints/
Module 1/hw/stackoverflow_similar_questions.zip
Module 1/SO_vectors_200.bin
Module 1/*/SO_vectors_200.bin
Module 1/stackoverflow_similar_questions.zip
